<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다독다독</title>
    <!-- css -->
    <link rel="stylesheet" href="./ordercheck.css" />

    <!-- js -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer src="../home/home.js"></script>
    <script defer src="./mypage.js"></script>
  </head>

  <body>
    <header>
      <!-- 로고 -->
      <div class="header-in">
        <a href="#">
          <img src="../../public/img/logo.png" alt="logo" />
        </a>
      </div>
      <!-- 메뉴 -->
      <ul class="header-menu">
        <li><a href="">전체</a></li>
        <li><a href="">수험서</a></li>
        <li><a href="">알고리즘</a></li>
        <li><a href="">Ai</a></li>
        <li><a href="">웹/모바일</a></li>
        <li><a href="">자기계발</a></li>
        <li><a href="">대학서적</a></li>
      </ul>
      <!-- 로그인/회원가입/장바구니 -->
      <div class="header-btn">
        <ul>
          <li><i class="fas fa-magnifying-glass fa-lg"></i></li>
          <li>
            <a href=""><i class="fas fa-cart-shopping fa-lg"></i></a>
          </li>
          <li><a href="">로그인</a></li>
          <li><a href="">회원가입</a></li>
        </ul>
      </div>
    </header>
    <div class="wrap">
      <h2 class="mypage-title">마이페이지</h2>
      <div class="mypage-info">
        <div class="nav">
          <ul>
            <li><a href="">회원정보 변경</a></li>
            <li><a href="">주문/배송조회</a></li>
          </ul>
        </div>
        <div class="contents">
          <div class="my-container">
            <h3 class="my-title">주문/배송 조회</h3>
            <div class="my-list">
              <div class="product">
                <h4>주문상품</h4>
                <ul>
                  <li>
                    <img src="../home/img/deep_dive.jpg" alt="" />
                    <p>모던 자바스크립트 Deep Dive</p>
                    <div class="qty">1개</div>
                    <div class="price">2,300원</div>
                    <div class="state">결제완료</div>
                  </li>
                </ul>
              </div>
              <div class="delivery">
                <h4>배송지 정보</h4>
                <div class="order-list delivery-info">
                  <dl>
                    <dt>받으실 분</dt>
                    <dd>윤성지</dd>
                  </dl>
                  <dl>
                    <dt>휴대폰 번호</dt>
                    <dd>010-000-0000</dd>
                  </dl>
                  <dl>
                    <dt>주소</dt>
                    <dd>경기 성남시 분당구 판교역로 166 (백현동)</dd>
                  </dl>
                  <dl>
                    <dt>배송요청사항</dt>
                    <dd>문앞에 놔주세요</dd>
                  </dl>
                </div>
              </div>
              <div class="payment">
                <h4>결제 정보</h4>
                <div class="order-list payment-list">
                  <dl>
                    <dt>총 결제 금액</dt>
                    <dd>5,300원</dd>
                  </dl>
                  <dl>
                    <dt>총 상품금액</dt>
                    <dd>+ 2,300원</dd>
                  </dl>
                  <dl>
                    <dt>배송비</dt>
                    <dd>+ 3,000원</dd>
                  </dl>
                  <dl>
                    <dt>결제방법</dt>
                    <dd>네이버</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button class="top-btn"></button>
    </div>
    <footer>
      <div class="footer-in">
        <a href="#">
          <img src="../../public/img/logo.png" alt="logo" />
        </a>
        <ul>
          <li class="footer-address">
            <span>주소</span>서울특별시 강남구 선릉로 433 (역삼동, 세방빌딩)
            6층,16층
          </li>
          <li class="footer-tel"><span>Tel</span>010-0000-0000</li>
          <li class="footer-mail"><span>E-mail</span>elice@gmail.com</li>
          <li class="footer-reserved">
            © 2023 Gwanggaeto. All rights reserved
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
