/**************** reset ******************/
@import url('/css/reset.css');


/**************** common ******************/
@import url('/css/common.css');


/**************** font ******************/
@import url('/css/font.css');

/**************** product-detail ******************/
.detail-contents {
  display: flex;
  justify-content: space-evenly;
}

.detail-contents .detail-img {
  width: 45%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-contents .detail-img img {
  width: 300px;
}

.detail-contents .detail-info h3 {
  font-size: 29px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -.5px;
}

.detail-contents .detail-info .detail-cate {
 font-size: 13px;
 font-weight: 500;
}

.detail-contents .detail-info .detail-cate.web {
 color:#20911c;
}

.detail-contents .detail-info .detail-description {
  font-size: 15px;
  font-weight: 400;
  padding-top: 8px;
  letter-spacing: -.5px;
  color:#919191;
}

.detail-contents .detail-info h4 {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 600;
  line-height: 19px;
  display: flex;
  padding-bottom: 30px;
}

.detail-contents .detail-info .detail-price {
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  padding: 16px 0;
}

.detail-contents .detail-info .detail-price h6 {
  font-size: 13px;
  font-weight: 400;
}

.detail-contents .detail-info .detail-price p {
  font-size: 13px;
  font-weight: 400;
  color: #999;
  margin-top: 10px;
}

.detail-contents .detail-info .all-price {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.detail-contents .detail-info .all-price h6 {
  margin-right: 40px;
  font-weight: 500;
}

.detail-contents .detail-info .all-price p {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.detail-contents .detail-info .detail-btn {
  margin-top: 16px;
  display: flex;
}

.detail-contents .detail-info .detail-btn button {
 cursor: pointer;
  border: none;
  border-radius: 5px;
}

.detail-contents .detail-info .detail-btn .detail-cart {
  width: 52px;
  height: 52px;
  flex: 0 0 52px;
  border: 1px solid #CCC;
  border-radius: 6px;
  background: url('./img/btn_cart.png') center center no-repeat;
  background-size: 28px auto;
  text-indent: -1000em;
  overflow: hidden;
  transition: .3s ease background-image;
}

.detail-cart{
  transition: all 250ms ease-out;
}

.detail-cart:hover{
  color: #7156ED;
  border-color: #7156ED;
}

.detail-contents .detail-info .detail-btn .detail-buy {
  width: 100%;
  height: 52px;
  color: #fff;
  background-color: #7156ED;
  border: 1px solid #fff;
  margin-left: 10px;
  font-size: 16px;
  line-height: 19px;
  transition: .3s;
}

.detail-contents .detail-info .detail-btn .detail-buy:hover {
  color: #7156ED;
  background-color: #fff;
  border: 1px solid #7156ED;
  transition: .3s;
}

.detail-contents .detail-info .detail-count-info {
  padding: 16px;
  background-color: #FAFAFA;
  border-radius: 5px;
  margin-top:16px;
}

.detail-contents .detail-info .detail-count-info {
  font-weight: 400;
  font-size: 14px;
}

.detail-contents .detail-info .detail-count-info .count-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:14px;
}

.detail-contents .detail-info .detail-count {
  display: flex;
}

.detail-contents .detail-info .detail-count input {
 cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 19px;
  border: 1px solid #DDD;
  border-radius: 4px;
  overflow: hidden;
}

.detail-contents .detail-info .detail-count .count-result {
 border:1px solid #d1d1d1;
 margin:0 3px;
 border-radius: 5px;
 padding:8px 0px;
 width:60px;
 text-align: center;
}