<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다독다독</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="./product-list.css" />

    <!-- js -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="/template/header.js"></script>
    <script defer src="/template/scroll-top-btn.js"></script>
    <script defer src="/template/footer.js"></script>
    <script defer src="./product-list.js"></script>
  </head>
  <body>
    <div class="wrap"></div>
  </body>
</html>
