/**************** product-list ******************/
.product-title {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.product-title h2 {
  font-size: 55px;
  font-weight: 900;
  line-height: 74px;
  display: flex;
  padding-right: 8px;
}

.product-list {
  border-top: 1px solid #d1d1d1;
}

.b-list {
  text-align: center;
}

.b-list .list-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.list-box li {
  display: flex;
  justify-content: center;
  width: calc(100% / 4);
  margin-bottom: 60px;
  height: 100%;
}

.b-list .list-box a img {
  width: 240px;
  height: 320px;
}

.b-list .list-box .info {
  margin-top: 20px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  text-align: center;
  align-self: flex-end;
}

.b-list .list-box .cate {
  font-size: 12px;
  margin: 0 auto;
  color: #6236ff;
  /* border-bottom: 1px solid #6236ff; */
  line-height: 15px;
  margin-bottom: 8px;
}

.b-list .list-box .cate.new {
  color: #20911c;
  border-bottom: 1px solid #20911c;
}

.b-list .list-box .name {
  line-height: 24px;
  font-weight: 500;
  word-break: keep-all;
}

.b-list .list-box .price {
  margin-top: 10px;
  font-weight: 500;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}
