<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다독다독</title>
  <!-- css -->
  <link rel="stylesheet" href="./product-list.css">
  <!-- js -->
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="/template/header.js"></script>
  <script defer src="/template/footer.js"></script>
  <script defer src="./product-list.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="product-title">
      <h2>수험서</h2>
      <p>총 25개</p>
    </div>
    <div class="product-list">
      <div class="b-list">
        <div class="list-box">
          <a>
            <img src="./img/deep_dive.jpg" alt="">
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </a>
        </div>
        <div class="list-box">
          <a>
            <img src="./img/deep_dive.jpg" alt="">
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </a>
        </div>
        <div class="list-box">
          <a>
            <img src="./img/deep_dive.jpg" alt="">
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>