<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자페이지</title>
  <!-- css -->
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/font.css" />
  <link rel="stylesheet" href="./admin-order.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- js -->
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="./admin-order.js"></script>
  <script defer type="module" src="/template/header.js"></script>
  <script defer src="/template/scroll-top-btn.js"></script>
  <script defer src="/template/footer.js"></script>

   <!-- favicon -->
   <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="wrap">
    <div class="page-title">
      <h2>관리자 페이지</h2>
    </div>
    <div class="admin-info">
      <div class="nav">
        <h3>쇼핑몰 관리</h3>
        <ul>
          <li class="on"><a href="#">주문관리</a></li>
          <li><a href="/admin">상품관리</a></li>
          <li><a href="/admin/category">카테고리관리</a></li>
        </ul>
      </div>
      <div class="contents">
        <div class="admin-list">
          <div class="admin-title">
            <h5><i class="fa-solid fa-cart-flatbed" style="color: #000000;"></i></i>주문관리</h5>
          </div>
          <div class="admin-filter">
            <p>전체 <span id="listCount"></span> 건</p>
            <div class="admin-input">
              <label for=""></label>
              <input class="order-search-input" type="text" placeholder="사용자 이름 검색">
              <button class="order-search-btn">검색</button>
            </div>
          </div>
          <div class="admin-tbl">
            <table id="orderList">
              <caption>상품 목록</caption>
              <colgroup> 
                  <col style="width: 15%;"/> 
                  <col style="width: 30%;"/> 
                  <col style="width: 35%;"/> 
                  <col style="width: 10%;"/>
                  <col style="width: 5%;"/> 
              </colgroup> 
              <thead>
                <tr>
                  <th>날짜</th>
                  <th>사용자 정보</th>
                  <th>주문 상품</th>
                  <th>주문상태</th>
                  <th>삭제</th>
                </tr>
              </thead>
              <tbody id="adminTbl" class="admin-tbody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>