/**************** common ******************/
/* body */
body {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.wrap {
  position: relative;
  padding: 120px 0 180px;
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  position: sticky;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
  z-index: 99;
  background-color: #fff;
  box-shadow: none;
  transition: 0.2s;
}
header.fixed {
  left: 0;
  top: 0;
  transition: 0.2s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
}

header ul.header-menu {
  display: flex;
  position: absolute;
  top: 0px;
  left: 272px;
  width: calc(100% - 622px);
  z-index: 1;
  height: 90px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

header ul.header-menu li {
  white-space: nowrap;
  font-size: 18px;
  line-height: 22px;
  margin-right: 40px;
}

header ul.header-menu li a:hover {
  color: #7156ed;
  transition: 0.2s;
}

header .header-btn {
  margin-right: 40px;
  margin-left: auto;
}

header .header-btn ul {
  display: flex;
}

header .header-btn ul li {
  margin-left: 20px;
  cursor: pointer;
}

header .header-btn ul li a {
  cursor: pointer;
}

header a.logo-img img{
  width:140px;
  height:65px;
}

/* modal */
.modal {
  width: 500px;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: #fff;
  border-radius: 5px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}
.modal-title {
  padding: 0;
  margin: 0;
  justify-self: center;
}
.btn-close {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  width: 32px;
  height: 32px;
}
.btn-close i {
  font-size: 16px;
}
.form {
  padding: 16px;
}
.form-list {
  margin: 0;
  padding: 0;
}
.form-list li {
  list-style: none;
  margin-top: 14px;
}
.form-list li:first-child {
  margin-top: 0;
}
.input-box {
  position: relative;
  height: 62px;
}
.input-box input {
  width: 100%;
  height: 62px;
  padding: 31px 20px 14px 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 6px;
  transition: 0.3s;
}
.input-box.focus input {
  border-color: #7156ed;
}

.input-box.focus .label {
  font-size: 11px;
  top: 14px;
}
.label {
  position: absolute;
  font-size: 14px;
  top: 22px;
  left: 20px;
  transition: 0.3s;
}
.modal-footer {
  padding: 16px;
}
.modal-footer > button {
  width: 100%;
  height: 62px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
}
.modal-footer > button:hover {
  background: #7156ed;
  color: #fff;
}
.modal-bg {
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9000;
}
.fade {
  display: none;
}
.show {
  display: block;
}
/* footer */
footer {
  width: 100%;
  background-color: #c9c9c9;
}
.footer-in a img {
  width:150px;
}

.footer-in {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
  align-items: center;
}
.footer-in ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 70px;
  line-height: 25px;
}

.footer-in ul li {
  font-size: 14px;
}

.footer-in ul .footer-address {
  width: 100%;
}

.footer-in ul .footer-mail {
  width: calc(100% / 2);
}

.footer-in ul .footer-reserved {
  width: 100%;
  font-size: 12px;
}

.footer-in ul li {
  font-weight: 400;
  color: #616161;
  padding-right: 10px;
}
.footer-in ul li span {
  font-weight: 600;
  color: #000;
  padding-right: 7px;
}

/* top-btn */
.top-btn {
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}
.top-btn.on {
  opacity: 1;
  border: 0px;
  padding: 0px;
  margin: 0px;
  outline: none;
  appearance: none;
  position: fixed;
  right: 90px;
  bottom: 60px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAgMCA1MCA1MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPHJlY3QgeD0iMC41IiB5PSIwLjUiIHdpZHRoPSI0OSIgaGVpZ2h0PSI0OSIgcng9IjI0LjUiIGZpbGw9IndoaXRlIiBzdHJva2U9IiNEREREREQiLz4gPHBhdGggZD0iTTI1IDE5VjM2IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4gPHBhdGggZD0iTTMyIDI2TDI1IDE5TDE4IDI2IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4gPHBhdGggZD0iTTE4IDE0SDMyIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4gPC9zdmc+IA==)
    no-repeat;
  z-index: 10;
  transition: 0.5s;
}
.page-title {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 800;
  line-height: 42px;
  text-align: center;
  margin-bottom: 70px;
}

li.on a {
  color: #7156ed;
}
