/**************** common ******************/
 /* body */
 body {
  font-family: 'Pretendard';
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.wrap{
  position:relative;
  padding:120px 0 200px;
  width:1200px;
  margin:0 auto;
}

/* header */
header {
  position: sticky;
  width: auto;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  z-index: 99;
  background-color: #fff;
  box-shadow: none;
  transition: .2s;
}
header.fixed{
     left: 0;
     top: 0;
     transition: .2s;
     box-shadow: 0 5px 10px rgba(0,0,0,0.16);
}

header ul.header-menu {
  position: absolute;
  top: 0px;
  left: 272px;
  width: calc(100% - 622px);
  z-index: 1;
  height: 90px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

header ul.header-menu li {
  white-space: nowrap;
  font-size: 18px;
  line-height: 22px;
  margin-right: 40px;
}

header ul.header-menu li a:hover {
  color: #2AC1BC;
  transition: .2s;
}

header .header-btn {
  margin-right: 40px;
  margin-left: auto;
}

header .header-btn ul {
  display: flex;
}

header .header-btn ul li {
  margin-left: 20px;
}

header .header-btn ul li a {
  cursor: pointer;
}

/* bookList */
.b-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.b-list .list-box {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 60px 0 0 24px;
}

.b-list .list-box:hover .name {
  color:#7156ed;
  transition: .2s;
}

.b-list .list-box:hover .price {
  color:#7156ed;
  transition: .2s;
}

.b-list .list-box a img {
  width: 240px;
}

.b-list .list-box .info {
  position: relative;
  margin-top: 20px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
}

.b-list .list-box .cate {
  font-size: 13px;
    margin: 0 auto;
    color: #6236FF;
    border-bottom: 1px solid #6236ff;
    line-height: 15px;
    margin-bottom: 8px;
    font-weight:700;
}

.b-list .list-box .cate.new{
  color:#20911c;
  border-bottom: 1px solid #20911c;
}

.b-list .list-box .name {
  line-height: 24px;
  font-weight: 500;
  word-break: keep-all;
  text-align: center;
}

.b-list .list-box .price {
  margin-top: 10px;
  font-weight: 500;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
}

/* footer */
footer{
  width:100%;
  background-color: #c9c9c9;
}
.footer-in{
  display: flex;
  width:1200px;
  margin:0 auto;
  padding:30px 0;
  align-items: center;
}
.footer-in ul{
  display: flex;
  flex-wrap: wrap;
  padding-left:30px;
  line-height: 25px;

}

.footer-in ul li{
  font-size:14px;
}

.footer-in ul .footer-address{
  width:100%;
}

.footer-in ul .footer-mail{
  width:calc(100% / 2);
}

.footer-in ul .footer-reserved{
  width:100%;
  font-size:12px;
}

.footer-in ul li {
  font-weight:400;
  color:#616161;
  padding-right:10px;
}
.footer-in ul li span {
  font-weight:600;
  color:#000;
  padding-right:7px;
}

/* top-btn */
.top-btn{
  opacity: 0;
  transition: .5s;
}
.top-btn.on{
  opacity: 1;
    border: 0px;
    padding: 0px;
    margin: 0px;
    outline: none;
    appearance: none;
    position: fixed;
    right: 90px;
    bottom: 60px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTAiIGhlaWdodD0iNTAiIHZpZXdCb3g9IjAgMCA1MCA1MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gPHJlY3QgeD0iMC41IiB5PSIwLjUiIHdpZHRoPSI0OSIgaGVpZ2h0PSI0OSIgcng9IjI0LjUiIGZpbGw9IndoaXRlIiBzdHJva2U9IiNEREREREQiLz4gPHBhdGggZD0iTTI1IDE5VjM2IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4gPHBhdGggZD0iTTMyIDI2TDI1IDE5TDE4IDI2IiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4gPHBhdGggZD0iTTE4IDE0SDMyIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4gPC9zdmc+IA==) no-repeat;
    z-index: 10;
    transition: .5s;
}
.page-title{
  margin:0 auto;
  font-size: 30px;
  font-weight: 800;
  line-height: 42px;
  text-align: center;
}
