<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다독다독</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="./user-info.css" />
    <!-- js -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer src="/template/header.js"></script>
    <script defer src="/template/scroll-top-btn.js"></script>
    <script defer src="/template/footer.js"></script>
    <script defer src="./user-info.js"></script>
  </head>
  <body>
    <div class="wrap">
      <h2 class="mypage-title">마이페이지</h2>
      <div class="mypage-info">
        <div class="nav">
          <ul>
            <li class="active"><a href="/mypage">회원정보 변경</a></li>
            <li><a href="/ordercheck">주문/배송조회</a></li>
          </ul>
        </div>
        <div class="contents">
          <div class="my-container">
            <h4 class="my-welcome">
              반가워요,
              <p class="name"><b id="welcomeName"></b>님</p>
            </h4>
          </div>
          <div class="user-midify">
            <div class="my-info-header">
              <h3 class="my-title">회원정보 변경</h3>
              <button id="unregister">
                회원탈퇴 <i class="fa-solid fa-chevron-right"></i>
              </button>
            </div>
            <div class="my-content">
              <form id="user-info">
                <ul class="user-info-box">
                  <li>
                    <label for="userName">이름</label>
                    <input
                      type="text"
                      name="userName"
                      autocomplete="off"
                      id="userName"
                    />
                  </li>
                  <li>
                    <label for="phoneNumber">휴대폰 번호</label>
                    <input
                      type="text"
                      name="phoneNumber"
                      autocomplete="off"
                      id="phoneNumber"
                    />
                  </li>
                  <li class="item-box">
                    <label for="userEmail">이메일</label>
                    <input
                      type="text"
                      name="userEmail"
                      autocomplete="off"
                      readonly
                      id="userEmail"
                    />
                  </li>
                  <li>
                    <label for="address2">주소</label>
                    <div class="field-body">
                      <div class="field">
                        <p class="control">
                          <input
                            class="input"
                            id="postalCode"
                            type="text"
                            placeholder="주소찾기를 클릭해 주세요."
                            readonly
                          />
                        </p>
                        <div>
                          <button id="searchAddressButton">주소찾기</button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="field-label is-normal no-label"></div>
                    <div class="field-body">
                      <div class="field">
                        <p class="control">
                          <input
                            class="input"
                            id="address1"
                            type="text"
                            placeholder=""
                            autocomplete="on"
                            readonly
                          />
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="field-label is-normal no-label"></div>
                    <div class="field-body">
                      <div class="field">
                        <p class="control">
                          <input
                            class="input"
                            id="address2"
                            type="text"
                            placeholder=""
                            autocomplete="on"
                          />
                        </p>
                      </div>
                    </div>
                  </li>
                </ul>
              </form>
              <button type="submit" form="user-info" id="user-info-save">
                저장하기
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
