
.mypage-title {
  width: 100%;
  margin-bottom: 70px;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}

.mypage-info {
  display: flex;
  justify-content: center;
}
.nav {
  width: 180px;
  margin-right: 60px;
}
.nav ul li {
  font-size: 16px;
  line-height: 24px;
}
.nav ul li.active a {
  color: #7156ed;
}
.my-container {
  width: 720px;
}
.my-welcome {
  min-height: 20px;
  padding: 40px;
  font-size: 40px;
  font-weight: bold;
  line-height: 51px;
  background-color: #f9f9f9;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}
.my-welcome .name {
  margin-top: 6px;
}
.my-welcome .name b {
  padding-right: 6px;
  color: #7156ed;
}
.user-midify {
  margin-top: 70px;
  width: 100%;
  position: relative;
}
.my-info-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
  padding-bottom: 16px;
}
#unregister {
  margin-right: 12px;
  font-size: 14px;
  line-height: 16px;
  background: none;
  border: none;
  height: 24px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.my-title {
  font-size: 24px;
  line-height: 29px;
}
.my-content {
  width: 400px;
}

.user-info-box {
  width: 100%;
}

.user-info-box li {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  transition: all 250ms ease-out;
}

.user-info-box li:hover{
  border-color: #7156ed;
}

.item-box{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 30px 0;
}

.user-info-box li:nth-child(n + 7) {
  border-bottom: none;
}
.user-info-box li label {
  font-size: 12px;
  color: lightgray;
}
.user-info-box li input {
  margin-top: 8px;
  outline: none;
  padding: 0;
  border: none;
  font-size: 15px;
}
#postalCode {
  width: 300px;
}
#searchAddressButton {
  width: calc(100px - 8px);
  background-color: transparent;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 4px 0;
  cursor: pointer;
  transition: all 250ms ease-out;
}
#searchAddressButton:hover{
  border-color:#7156ed;
}
.control,
#address1,
#address2 {
  width: 400px;
}
button[type="submit"] {
  margin-top: 30px;
  width: 100%;
  height: 62px;
  font-size: 16px;
  line-height: 19px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
  background-color: #7156ed;
  transition: 0.3s;
}
button[type="submit"]:hover {
  background-color: #fff;
  color: #7156ed;
  border-color: #7156ed;
}

.field {
  display: flex;
  align-items: center;
}

/* Modal */
.modal-back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: 11;
}

.modal-container{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 460px;
  max-width: 460px;
  max-height: calc(100% -50px);
  padding: 40px 30px 30px;
  background-color: #fff;
  border-radius: 5px;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.modal-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}

.modal-main{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-main-title{
  font-size: 28px;
  line-height: 36px;
}

.modal-main-text{
  margin: 8px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.modal-list{
  list-style:circle;
  font-size: 16px;
  color: #777;
  line-height: 24px;
}

.modal-list-item{
  margin-top: 14px;
  margin-left: 12px;
  font-weight: 400;
}

.modal-form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-input-box{
  width: 100%;
  position: relative;
}

.modal-label{
  position: absolute;
  font-size: 11px;
  line-height: 13px;
  color: #999;
  top: 54px;
  left: 20px;
  transition: 0.2s;
}

.modal-pw{
  margin: 40px 0;
  box-sizing: border-box;
  width: 100%;
  height: 62px;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 31px 20px 14px 20px;
  cursor: pointer;
}

.modal-Withdraw-btn{
  width: 100%;
  height: 62px;
  border-radius: 5px;
  background-color: #7156ed;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.modal-close-btn{
  position: absolute;
  top: 28px;
  right: 28px;
  width: 28px;
  height: 28px;
  border: none;
  outline: none; 
  background:transparent;
  font-size: 18px;
  cursor: pointer;
}