<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자페이지</title>
  <!-- css -->
  <link rel="stylesheet" href="./admin-category.css">

  <!-- js -->
  <script defer src="/template/header.js"></script>
  <script defer src="/template/scroll-top-btn.js"></script>
  <script defer src="/template/footer.js"></script>
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="./admin-category.js"></script>
</head>

<body>
  <div class="wrap">
    <div class="page-title">
      <h2>관리자 페이지</h2>
    </div>
    <div class="admin-info">
      <div class="nav">
        <h3>쇼핑몰 관리</h3>
        <ul>
          <li><a href="/admin/orders">주문관리</a></li>
            <li><a href="/admin/products">상품관리</a></li>
            <li class="on"><a href="/admin/category">카테고리관리</a></li>
        </ul>
      </div>
      <div class="contents">
        <div class="admin-list">
          <div class="admin-title">
            <h5><i class="fa-solid fa-box" style="color: #000000;"></i>카테고리 등록</h5>
            <div class="title-btn">
            </div>
          </div>
          <div class="product-add-form">
            <form id="form" class="admin-form">
              <ul>
                <li><label for="cate01">분류 1</label></li>
                <li><input type="text" id="cate01" name="cate01"></li>
                <li><label for="cate02">분류 2</label></li>
                <li><input type="text" id="cate02" name="cate02"></li>
                <li><label for="cate03">분류 3</label></li>
                <li><input type="text" id="cate03" name="cate03"></li>
                <li><label for="cate04">분류 4</label></li>
                <li><input type="text" id="cate04" name="cate04"></li>
                <li><label for="cate05">분류 5</label></li>
                <li><input type="text" id="cate05" name="cate05"></li>
                <li><label for="cate06">분류 6</label></li>
                <li><input type="text" id="cate06" name="cate06"></li>
                <li><label for="cate07">분류 7</label></li>
                <li><input type="number" id="cate07" name="cate07"></li>
              </ul>
              <div class="admin-btn">
                <button type="submit" class="admin-submit">등록하기</button>
                <button class="admin-list"><a href="/admin/products">목록</a></button>
              </div>
            </form>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>