<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다독다독</title>
  <link rel="stylesheet" href="cart.css">
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="/template/header.js"></script>
  <script defer src="/template/scroll-top-btn.js"></script>
  <script defer src="/template/footer.js"></script>
  <script src="cart.js" defer></script>
</head>
<body>
  <div class="wrap">
    <section class="cart">
      <h3>장바구니</h3>
      <div class="cart-content">
        <div class="cart-list">
          <div class="cart-header">
            <div class="all-box-container">
              <input type="checkbox" id="allCheck" checked>
              <label for="allCheck">전체선택(3/3)</label>
            </div>
            <button>선택삭제</button>
          </div>
          <ul class="cart-list">
            <li class="cart-item">
              <input type="checkbox" id="selectCheck" checked>
              <a href="#" class="item-info">
                <img src="img/book1.jpeg" alt="도서 사진">
                <div class="info-text">
                  <p class="info-title">요즘 사는 맛2</p>
                  <p class="description">요즘 사는 맛2</p>
                </div>
              </a>
              <div class="item-count">
                <button class="btn-minus"><i class="fa-solid fa-minus"></i></button>
                <input type="number" id="item-number" value="1">
                <button class="btn-plus"><i class="fa-solid fa-plus"></i></button>
              </div>
              <p class="item-price">17,000원</p>
              <button class="btn-delete"><i class="fa-solid fa-xmark"></i></button>
            </li>
            <li class="cart-item">
              <input type="checkbox" id="selectCheck" checked>
              <a href="#" class="item-info">
                <img src="img/book2.jpeg" alt="도서 사진">
                <div class="info-text">
                  <p class="info-title">이게 무슨 일이야</p>
                  <p class="description">도서. 이게 무슨일이야</p>
                </div>
              </a>
              <div class="item-count">
                <button class="btn-minus"><i class="fa-solid fa-minus"></i></button>
                <input type="number" id="item-number" value="1">
                <button class="btn-plus"><i class="fa-solid fa-plus"></i></button>
              </div>
              <p class="item-price">15,000원</p>
              <button class="btn-delete"><i class="fa-solid fa-xmark"></i></button>
            </li>
            <li class="cart-item">
              <input type="checkbox" id="selectCheck" checked>
              <a href="#" class="item-info">
                <img src="img/book3.jpeg" alt="도서 사진">
                <div class="info-text">
                  <p class="info-title">요즘 사는 맛</p>
                </div>
              </a>
              <div class="item-count">
                <button class="btn-minus"><i class="fa-solid fa-minus"></i></button>
                <input type="number" id="item-number" value="1">
                <button class="btn-plus"><i class="fa-solid fa-plus"></i></button>
              </div>
              <p class="item-price">16,000원</p>
              <button class="btn-delete"><i class="fa-solid fa-xmark"></i></button>
            </li>
          </ul>
        </div>
        <div class="payment-area">
          <div class="payment-result">
            <dl class="amount">
              <dt>총 상품금액</dt>
              <dd>48,000원</dd>
              <dt>배송비</dt>
              <dd>+0원</dd>
            </dl>
            <dl class="total">
              <dt>결제예상금액</dt>
              <dd>48,000원</dd>
            </dl>
          </div>
          <button class="btn-order"><strong>48,000원</strong> 주문하기</button>
        </div>
      </div>
    </section>
  </div>
</body>
</html>