@import url('/css/reset.css');
@import url('/css/common.css');
@import url('/css/font.css');

:root{
  --color-accent: #7156ed;
  --border-radius: 5px;
  --border-color: #EEE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul,li{
  list-style: none;
}

img{
  width: 7rem;
}

.cart{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

h3{
  font-size: 1.8rem;
}

