@import url('/css/reset.css');
@import url('/css/common.css');
@import url('/css/font.css');

:root{
  --color-accent: #7156ed;
  --border-radius: 5px;
  --border-color: #EEE;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  cursor: pointer;
}

ul,li{
  list-style: none;
}

img{
  width: 7rem;
}

button{
  cursor: pointer;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
}

input[type="checkbox"]{
  cursor: pointer;
  accent-color: var(--color-accent);
  width: 1.2rem;
  height: 1.2rem;
}

.cart{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0 200px 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

h3{
  padding: 20px 0 70px 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

.cart-content{
  position: relative;
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.cart-wraper{
  position: relative;
  width: 648px;
  margin-right: 40px;
  padding-right: 40px;
  flex: 0 0 auto;
}

.cart-header{
  height: 36px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-box-container{
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #777;
}

#allCheck + label{
  margin-left: 8px;
  cursor: pointer;
}

.btn-select-delete{
  background-color: transparent;
  color: #777;
}

.cart-list{
  position: relative;
  border-bottom: 1px solid #DDD;
}

.cart-item{
  padding: 24px 0;
  border-top: 1px solid #DDD;
  display: flex;
  align-items: center;
}

#selectCheck{
  margin-right: 20px;
}

.item-info{
  display: flex;
  align-items: center;
}

.info-text{
  margin-left: 20px;
}

.info-title{
  color: black;
  font-weight: 600;
}

.description{
  margin-top: 10px;
  color: #777;
  font-size: 0.9rem;
  font-weight: 300;
}