<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다독다독</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="./product-detail.css" />

    <!-- js -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="./product-detail.js"></script>
    <script defer type="module" src="/template/header.js"></script>
    <script defer src="/template/footer.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="detail-contents" id="detailContainer"></div>
      <div class="put-message-modal">
        <div class="put-message-inner">
          <p class="message">장바구니에 상품을 담았습니다.</p>
          <a href="/cart"
            >장바구니로 이동 <i class="fa-solid fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
  </body>
</html>
