<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다독다독</title>
  <!-- css -->
  <link rel="stylesheet" href="./product-detail.css">
 
  <!-- js -->
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="./product-detail.js"></script>
  <script defer src="/template/header.js"></script>
  <script defer src="/template/footer.js"></script>
</head>
<body>
  <div class="wrap">
    <div class="detail-contents" id="detailContainer">
      
    </div>
  </div>
</body>
</html>