/** reset **/
@import url("/css/reset.css");

/** common **/
@import url("/css/common.css");

/** font **/
@import url("/css/font.css");

.mypage-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
}
.mypage-info {
  display: flex;
  justify-content: center;
}
.nav {
  width: 180px;
  margin-right: 60px;
}
.nav ul li {
  font-size: 16px;
  line-height: 24px;
}
.nav ul li:nth-child(2) a {
  color: #7156ed;
}
/*  */

.my-container {
  width: 720px;
}
.my-title {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 29px;
}

.orderEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 16px;
}
.orderEmpty button {
  margin-top: 60px;
  width: 124px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #7156ed;
}
.orderEmpty button a {
  font-size: 14px;
  color: #fff;
  padding: 10px 26px;
}
.my-body table {
  width: 100%;
  margin-top: 50px;
}
.my-body thead {
  height: 40px;
}
.my-body th,
td {
  vertical-align: middle;
}
.my-body tr {
  border-top: 1px solid #ddd;
}
.my-body tr td {
  text-align: center;
  line-height: 22px;
  font-size: 14px;
  padding: 22px 0;
}
.my-body tr td button {
  width: 80px;
  height: 32px;
  background-color: #7156ed; /* 보라색 배경색 */
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff; /* 흰색 글자색 */
}


.my-body tr td button:disabled {
  border-color: #ddd;
  cursor: default;
}
