<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>잇북</title>
    <!-- css -->
    <link rel="stylesheet" href="./user-order.css" />
    <link rel="stylesheet" href="/css/style.css">

    <!-- js -->
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer type="module" src="/template/header.js"></script>
    <script defer src="/template/scroll-top-btn.js"></script>
    <script defer src="/template/footer.js"></script>
    <script defer src="./user-order.js"></script>

     <!-- favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <div class="wrap">
      <h2 class="mypage-title">마이페이지</h2>
      <div class="mypage-info">
        <div class="nav">
          <ul>
            <li><a href="/user/info">회원정보 변경</a></li>
            <li><a href="#">주문/배송 조회</a></li>
          </ul>
        </div>
        <div class="contents">
          <div class="my-container">
            <div class="my-header">
              <h3 class="my-title">주문/배송 조회</h3>
            </div>
            <div class="my-body">
              <!-- <table>
                <thead>
                  <th>날짜</th>
                  <th>주문정보</th>
                  <th>주문상태</th>
                  <th></th>
                </thead>
                <tbody>
                  <tr>
                    <td>2023-07-07</td>
                    <td>모던자바스크립트 Deep Divd / 2개</td>
                    <td>상품 준비중</td>
                    <td><button>주문취소</button></td>
                  </tr>
                </tbody>
              </table> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
