<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다독다독</title>
  <!-- css -->
  <link rel="stylesheet" href="./product.css">
  <!-- js -->
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="/template/header.js"></script>
  <script defer src="/template/footer.js"></script>
  <script defer src="./product.js"></script>
</head>
<body>
  <header>
    <!-- 로고 -->
    <div class="header-in">
      <a href="#">
        <img src="../../../public/img/logo.png" alt="logo">
      </a>
    </div>
    <!-- 메뉴 -->
    <ul class="header-menu">
      <li><a href="">전체</a></li>
      <li><a href="">수험서</a></li>
      <li><a href="">알고리즘</a></li>
      <li><a href="">Ai</a></li>
      <li><a href="">웹/모바일</a></li>
      <li><a href="">자기계발</a></li>
      <li><a href="">대학서적</a></li>
    </ul>
    <!-- 로그인/회원가입/장바구니 -->
    <div class="header-btn">
      <ul>
        <li><i class="fas fa-magnifying-glass fa-lg"></i></li>
        <li><a href=""><i class="fas fa-cart-shopping fa-lg"></i></a></li>
        <li><a href="">로그인</a></li>
        <li><a href="">회원가입</a></li>
      </ul>
    </div>
  </header>
  <div class="wrap">
    <div class="product-title">
      <h2>수험서</h2>
      <p>총 25개</p>
    </div>
    <div class="product-list">
      <div class="b-list">
        <div class="list-box">
          <a>
            <img src="./img/deep_dive.jpg" alt="">
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </a>
        </div>
        <div class="list-box">
          <a>
            <img src="./img/deep_dive.jpg" alt="">
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </a>
        </div>
        <div class="list-box">
          <a>
            <img src="./img/deep_dive.jpg" alt="">
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="footer-in">
      <a href="#">
        <img src="../../public/img/logo.png" alt="logo">
      </a>
      <ul>
        <li class="footer-address"><span>주소</span>서울특별시 강남구 선릉로 433 (역삼동, 세방빌딩) 6층,16층 </li>
        <li class="footer-tel"><span>Tel</span>010-0000-0000</li>
        <li class="footer-mail"><span>E-mail</span>elice@gmail.com</li>
        <li class="footer-reserved">© 2023 Gwanggaeto. All rights reserved</li>
      </ul>
    </div>
  </footer>
</body>
</html>