<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자페이지</title>
  <!-- css -->
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/font.css" />
  <link rel="stylesheet" href="./admin-product.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- js -->
  <script defer src="/template/header.js"></script>
  <script defer src="/template/scroll-top-btn.js"></script>
  <script defer src="/template/footer.js"></script>
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="./admin-product.js"></script>
</head>

  <body>
    <div class="wrap">
      <div class="page-title">
        <h2>관리자 페이지</h2>
      </div>
      <div class="admin-info">
        <div class="nav">
          <h3>쇼핑몰 관리</h3>
          <ul>
            <li><a href="/admin/order">주문관리</a></li>
            <li class="on"><a href="/admin">상품관리</a></li>
            <li><a href="/admin/category">카테고리관리</a></li>
          </ul>
        </div>
        <div class="contents">
          <div class="admin-list">
            <div class="admin-title">
              <h5>
                <i class="fa-solid fa-box" style="color: #000000"></i
                >상품등록/수정
              </h5>
              <div class="title-btn"></div>
            </div>
            <div class="product-add-form">
              <form id="form" class="admin-form">
                <ul>
                  <li><label for="imageUrl">상품 이미지(url)</label></li>
                  <li><input type="text" id="imageUrl" name="imageUrl" /></li>
                  <li><label for="title">상품명</label></li>
                  <li><input type="text" id="title" name="title" /></li>
                  <li><label for="description">설명</label></li>
                  <li>
                    <input type="text" id="description" name="description" />
                  </li>
                  <li><label for="price">판매가</label></li>
                  <li>
                    <input
                      type="number"
                      id="price"
                      name="price"
                      class="numberInput"
                    />원
                  </li>
                  <li><label for="category">분류</label></li>
                  <li>
                    <select name="category" id="category"></select>
                  </li>
                  <li><label for="author">저자</label></li>
                  <li><input type="text" id="author" name="author" /></li>
                  <li><label for="pages">페이지</label></li>
                  <li>
                    <input
                      type="number"
                      id="pages"
                      name="pages"
                      class="numberInput"
                    />쪽
                  </li>
                </ul>
                <div class="admin-btn">
                  <button type="submit" class="admin-submit">등록하기</button>
                  <button class="admin-list"><a href="/admin">목록</a></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
