
 .contents .admin-list .admin-title h5{
  font-size:20px;
  font-weight:800;
 }

 .contents .admin-list .admin-title h5 i {
  padding-right: 5px;
}

 .admin-info {
   display: flex;
 }

 .admin-info .nav {
   width: 25%;
   padding-left: 70px;
 }

 .admin-info .contents {
   width: 70%;
 }

 .admin-info .nav h3 {
   font-size: 20px;
   font-weight: 800;
   padding-bottom: 15px;
 }

 .admin-info .nav ul {
   width: 100px;
   padding-top: 10px;
   font-size: 18px;
   line-height: 32px;
 }

 .contents {
   padding-right: 50px;
 }

 .contents .admin-list .title-btn .admin-list {
   cursor: pointer;
   background: #d9d9d9;
   border: none;
   padding: 8px 13px;
   border-radius: 5px;
   font-weight: 800;
 }

 .contents .admin-list .product-add-form .admin-form {
   display: flex;
   flex-direction: column;
 }

 .contents .admin-list .product-add-form .admin-form ul {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
 }

 .contents .admin-list .product-add-form .admin-form ul li:nth-child(2n-1) {
   background-color: #f3f3f3;
   padding: 16px;
   width: 20%;
   font-weight: 500;
   font-size: 14px;
 }

 .contents .admin-list .product-add-form .admin-form ul li:nth-child(2n) {
   width: 65%;
 }


 .contents .admin-list .product-add-form .admin-form ul li .numberInput {
   width: 20% !important;
   margin-right: 7px;
 }

 .contents .admin-list .product-add-form .admin-form ul li:nth-child(2n) input {
   width: 100%;
   border-radius: 5px;
   padding: 9px 7px;
   border: 1px solid #d1d1d1;
   margin-left: 10px;
   font-family: 'Pretendard';
 }

 .contents .admin-list .product-add-form .admin-form .admin-btn {
   display: flex;
   margin-top: 20px;
   align-items: center;
   width: 100%;
   justify-content: center;
 }

 .contents .admin-list .product-add-form .admin-form .admin-btn .admin-submit {
  background-color: #7156ed;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-right:10px;
 }

 .contents .admin-list .product-add-form .admin-form .admin-btn .admin-list {
  background-color: #d1d1d1;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
 }
