<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자페이지|상품 등록</title>
  <!-- css -->
  <link rel="stylesheet" href="./admin-product.css">

  <!-- js -->
  <script defer src="/template/header.js"></script>
  <script defer src="/template/scroll-top-btn.js"></script>
  <script defer src="/template/footer.js"></script>
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="./admin-product.js"></script>
</head>

<body>
  <div class="wrap">
    <div class="page-title">
      <h2>관리자 페이지</h2>
    </div>
    <div class="admin-info">
      <div class="nav">
        <h3>쇼핑몰 관리</h3>
        <ul>
          <li><a href="/admin/orders">주문관리</a></li>
          <li class="on"><a href="/admin/products">상품관리</a></li>
        </ul>
      </div>
      <div class="contents">
        <div class="admin-list">
          <div class="admin-title">
            <h5><i class="fa-solid fa-box" style="color: #000000;"></i>상품등록/수정</h5>
            <div class="title-btn">
              <!-- <button class="admin-confirm" id="submitButton">등록하기</button> -->
              <button class="admin-list"><a href="/admin/products">목록</a></button>
            </div>
          </div>
          <div class="product-add-tbl">
            <form id="form">
              <label for="fileInput">상품 이미지</label>
              <input type="text" id="fileInput" name="imageUrl">
            
              <label for="titleInput">상품명</label>
              <input type="text" id="titleInput" name="title">
            
              <label for="descriptionInput">설명</label>
              <input type="text" id="descriptionInput" name="description">
            
              <label for="priceInput">판매가</label>
              <input type="text" id="priceInput" name="price">
            
              <label for="categoryInput">분류</label>
              <input type="text" id="categoryInput" name="category">
            
              <label for="authorInput">저자</label>
              <input type="text" id="authorInput" name="author">
            
              <label for="pageInput">페이지</label>
              <input type="text" id="pageInput" name="pages">
            
              <button type="submit">등록하기</button>
            </form>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>