 /**************** reset ******************/
 @import url('../../public/css/reset.css');


/**************** common ******************/
@import url('../../public/css/common.css');


 /**************** font ******************/
 @import url('../../public/css/font.css');

 /**************** product-list ******************/
 .admin-info{
  display: flex;
 }

 .admin-info .nav {
  width:30%;
  padding-left:70px;
 }

 .admin-info .contents {
  width:70%;
 }

 .admin-info .nav h3{
  font-size:20px;
  font-weight:800;
  padding-bottom:15px;
 }
 .admin-info .nav ul{
  width:90px;
  padding-top:10px;
  font-size:18px;
  line-height: 32px;
 }

 .contents {
  padding-right:50px;
 }

 .contents .admin-list .admin-title{
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom:9px;
 }

 .contents .admin-list .admin-filter{
  display:flex;
  justify-content: space-between;
  padding:9px 0;
 }

 .contents .admin-list .admin-title .title-btn{

 }

 .contents .admin-list .admin-title h5{
  font-size:20px;
  font-weight:800;
 }

 .contents .admin-list .admin-title h5 i {
  padding-right:5px;
 }

 .admin-tbl table {
  width:100%;
  border-collapse: collapse;
  text-align:center;
 }

 .admin-tbl table th{
  border-bottom:1px solid #e4e4e4;
  padding: 7px 0;
  font-weight:400;
  font-size:14px;
}

.admin-tbl table caption {
  display:none;
}

.admin-tbl table tbody tr {
  border-bottom:1px solid #e4e4e4;
}

.admin-tbl table tbody tr td.p-img{
  width: 120px;
  height: 120px;
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-tbl table tbody tr td{
  display:table-cell; 
  vertical-align:middle;
  text-align:center;
}

.admin-tbl table tbody tr td.p-img img{
  height:100%;
}