
.admin-info{
  display: flex;
 }

 .admin-info .nav {
  width:25%;
  padding-left:70px;
 }

 .admin-info .contents {
  width:70%;
 }

 .admin-info .nav h3{
  font-size:20px;
  font-weight:800;
  padding-bottom:15px;
 }
 .admin-info .nav ul{
  width:100px;
  padding-top:10px;
  font-size:18px;
  line-height: 32px;
 }

 .contents {
  padding-right:50px;
 }

 .contents .admin-list .admin-title{
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom:9px;
 }

 .contents .admin-list .admin-title .admin-confirm {
  cursor: pointer;
  background: #533ac0;
  border:none;
  padding:7px 9px;
  border-radius: 5px;
  margin-right:4px;
 }
 .contents .admin-list .admin-title .admin-confirm a{
  color:#fff;
  font-weight:700;
 }

 .contents .admin-list .admin-title .admin-remove {
  cursor: pointer;
  background: #d9d9d9;
  border:none;
  padding:7px 9px;
  border-radius: 5px;
  font-weight:700;
 }

 .contents .admin-list .admin-filter{
  display:flex;
  justify-content: space-between;
  padding:9px 0;
  align-items: center;
 }

 .contents .admin-list .admin-title .title-btn{

 }

 .contents .admin-list .admin-title h5{
  font-size:20px;
  font-weight:800;
 }

 .contents .admin-list .admin-title h5 i {
  padding-right:5px;
 }

 .contents .admin-filter p{
  font-size: 16px;
  font-weight:500;
 }

 .contents .admin-filter p span {
  color:#7156ED;
  font-weight:800;
 }


 .contents .admin-filter .admin-input select{
  border:1px solid #D1D1D1;
  padding:8px 3px;
  border-radius: 3px;
  color:#646464;
 }

 .contents .admin-filter .admin-input input{
  border:1px solid #D1D1D1;
  padding:8px 3px;
  border-radius: 3px;
  color:#646464;
  width:230px;
 }

 .contents .admin-filter .admin-input:focus{
  border:none;
 }

 .contents .admin-filter .admin-input button {
  cursor: pointer;
  background-color: #d9d9d9;
  border:none;
  border-radius: 3px;
  padding:7px;
 }

 .admin-tbl table {
  width:100%;
  border-collapse: collapse;
  text-align:center;
 }

 .admin-tbl table th{
  border-bottom:1px solid #e4e4e4;
  padding: 7px 0;
  font-weight:400;
  font-size:14px;
}

.admin-tbl table caption {
  display:none;
}

.admin-tbl table tbody tr {
  border-bottom:1px solid #e4e4e4;
}

.admin-tbl table tbody tr td.p-img{
  height: 120px;
  padding: 4px 0;

}

.admin-tbl table tbody tr td{
  display:table-cell; 
  vertical-align:middle;
  text-align:center;
  font-weight:500;
}

.admin-tbl table tbody tr td.p-img img{
  height:100%;
}

.admin-tbl table tbody tr td button{
  width:45px;
  cursor: pointer;
  border-radius: 5px;
  border:none;
  padding:4px 0;
}

.admin-tbl table tbody tr td button.admin-change{
  margin-bottom:8px;
  background-color: #7156ED;
  
}
.admin-tbl table tbody tr td button.admin-change a{
  color:#fff;
}

.admin-tbl table tbody tr td button.admin-remove-in{
  background-color: #D9D9D9;
}