<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자페이지</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="./admin.css" />
    <link rel="stylesheet" href="/css/style.css">

    <!-- js -->
    <script defer src="/template/header.js"></script>
    <script defer src="/template/scroll-top-btn.js"></script>
    <script defer src="/template/footer.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
    <script defer src="./admin.js"></script>
     <!-- favicon -->
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class="wrap">
      <div class="page-title admin">
        <h2>관리자 페이지</h2>
      </div>
      <div class="admin-info">
        <div class="nav">
          <h3>쇼핑몰 관리</h3>
          <ul>
            <li><a href="/admin/order">주문관리</a></li>
            <li class="on"><a href="#">상품관리</a></li>
            <li><a href="/admin/category">카테고리관리</a></li>
          </ul>
        </div>
        <div class="contents">
          <div class="admin-list">
            <div class="admin-title">
              <h5>
                <i class="fa-solid fa-box" style="color: #000000"></i>상품관리
              </h5>
              <div class="title-btn">
                <button class="admin-confirm"><a href="/admin/product/add">상품등록</a></button>
                <button class="admin-remove"><a href="">선택삭제</a></button>
              </div>
            </div>
            <div class="admin-filter">
              <p>전체 <span id="listCount"></span> 건</p>
              <div class="admin-input">
                <!-- <select name="p-cate" id="productCategory">
                  <option value="" selected>전체 분류</option>
                  <option value="">알고리즘</option>
                  <option value="">Ai</option>
                  <option value="">웹</option>
                  <option value="">모바일</option>
                  <option value="">대학서적</option>
                </select> -->
                <label for="searchName"></label>
                <input type="search" placeholder="상품명을 입력하세요." id="searchName">
                <button type="submit" class="search-btn" id="searchBtn"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
              </div>
            </div>
            <div class="admin-tbl">
              <table>
                <caption>
                  상품 목록
                </caption>
                <colgroup>
                  <col style="width: 3%" />
                  <col style="width: 20%" />
                  <col style="width: 40%" />
                  <col style="width: 15%" />
                  <col style="width: 15%" />
                  <col style="width: 15%" />
                </colgroup>
                <thead>
                  <tr>
                    <th><input type="checkbox" class="selectCheck" id="allCheck"></th>
                    <th>이미지</th>
                    <th>상품명</th>
                    <th>판매가</th>
                    <th>분류</th>
                    <th>관리</th>
                  </tr>
                </thead>
                <tbody id="adminTbl">
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
