<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>잇북</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="order.css" />
    <link rel="stylesheet" href="/css/style.css">

  <!-- js -->
  <script src="order.js" defer></script>
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script type="module" src="/template/header.js defer"></script>
  <script src="/template/scroll-top-btn.js defer"></script>
  <script src="/template/footer.js defer"></script>

   <!-- favicon -->
   <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="wrap">
    <div class="container">
      <div class="container-header">주문서</div>
      <div class="order-section">
        <div class="left">
          <div class="left-container">
            <div class="inner-top">
              <h4 class="inner-title">배송지</h4>
            </div>
            <div class="inner-bottom">
              <button class="address-btn"><i class="fa-solid fa-location-dot"></i> 배송지 등록하기</button>
            </div>
          </div>
          <div class="left-container">
            <div class="inner-top">
              <h4 class="inner-title">주문상품</h4>
            </div>
            <div class="order-container">
              <div class="item">
                <div class="item-name">글림체 자음모음 붙임딱지</div>
                <span class="item-count">1개</span>
              </div>
              <div class="inner-bottom">
                <button class="address-btn">
                  <i class="fa-solid fa-location-dot"></i> 배송지 등록하기
                </button>
              </div>
            </div>
            <div class="left-container">
              <div class="inner-top">
                <h4 class="inner-title">주문상품</h4>
              </div>
              <div class="order-container">
                <div class="item">
                  <div class="item-name">글림체 자음모음 붙임딱지</div>
                  <span class="item-count">1개</span>
                </div>
                <div class="item">
                  <div class="item-name">글림체 한글자 붙임딱지</div>
                  <span class="item-count">1개</span>
                </div>
              </div>
            </div>
            <!-- <div class="left-container">
            <div class="inner-top">
              <h4 class="inner-title">결제수단</h4>
            </div>
            <div class="payment-btns">
              <div class="payment-row">
                <input type="radio" name="payment-method-name" id="payment-method-id-card">
                <label for="payment-method-id-card" class="row-label-text">신용카드/체크카드</label>
              </div>
              <div class="payment-row">
                <input type="radio" name="payment-method-name" id="payment-method-id-naver">
                <label for="payment-method-id-naver" class="row-label-text">네이버페이</label>
              </div>
            </div>
            <div class="payment-row">
              <input type="checkbox" id="checkbox">
              <label for="checkbox" class="label-text">선택한 결제수단 다음에도 사용</label>
            </div>
            <button class="payment-btn">
              <span class="pament-btn-text">
                <span class="total-price">11,000원</span> 결제하기
              </span>
            </button>
          </div> -->
          </div>
          <div class="right">
            <div class="top-wrapper">
              <div class="order-price-wrapper">
                <div class="price-wrapper">
                  <span class="price-label">주문금액</span>
                  <span class="price">8,000원</span>
                </div>
                <div class="price-wrapper">
                  <span class="price-label">상품금액</span>
                  <span class="price">8,000원</span>
                </div>
                <div class="price-wrapper">
                  <span class="price-label">상품할인</span>
                  <span class="price">0원</span>
                </div>
              </div>
              <div class="price-wrapper">
                <span class="price-label">배송비</span>
                <span>+3,000원</span>
              </div>
            </div>
            <div class="bottom-wrapper">
              <span class="price-label">총 결제금액</span>
              <span class="price">11,000원</span>
            </div>
            <div class="check-boxs">
              <div class="check-box-container">
                <input type="checkbox" id="all-btn" />
                <label for="all-btn">전체 동의</label>
              </div>
              <div class="check-box-container">
                <input type="checkbox" id="check-btn1" />
                <label for="check-btn1"
                  >(필수) 구매할 상품의 결제정보(상품명, 상품가격)를 확인
                  하였으며, 구매진행에 동의합니다.</label
                >
              </div>
              <div class="check-box-container">
                <input type="checkbox" id="check-btn2" />
                <label for="check-btn2"
                  >(필수) 개인정보 수집 및 이용에 동의합니다.</label
                >
              </div>
            </div>
            <button class="payment-btn">
              <span class="pament-btn-text">
                <span class="total-price">11,000원</span> 결제하기
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
