<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>다독다독</title>
    <link rel="stylesheet" href="./modal.css" />
    <script
      defer
      src="https://kit.fontawesome.com/9daa42bcef.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <button class="modal-btn modalLogin" data-id="modalLogin">로그인</button>
    <button class="modal-btn modalJoin" data-id="modalJoin">회원가입</button>

    <div class="modal fade" id="modalLogin">
      <div class="modal-header">
        <h2 class="modal-title">로그인</h2>
        <button class="btn-close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <form class="login-form">
          <ul class="form-list">
            <li class="input-box">
              <label class="label" for="loginEmail">이메일</label>
              <input
                type="email"
                name="loginEmail"
                id="email"
                autocomplete="off"
              />
            </li>
            <li class="input-box">
              <label class="label" for="password">비밀번호</label>
              <input type="password" name="password" id="password" />
            </li>
          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit">로그인</button>
      </div>
    </div>

    <div class="modal fade" id="modalJoin">
      <div class="modal-header">
        <h2 class="modal-title">회원가입</h2>
        <button class="btn-close"><i class="fa-solid fa-xmark"></i></button>
      </div>
      <div class="modal-body">
        <form class="join-form">
          <ul class="form-list">
            <li class="input-box">
              <label class="label" for="joinUserName">이름</label>
              <input type="text" name="joinUserName" id="joinUserName" />
            </li>
            <li class="input-box">
              <label class="label" for="joinEmail">이메일</label>
              <input type="email" name="joinEmail" id="joinEmail" />
            </li>
            <li class="input-box">
              <label class="label" for="joinPassword">비밀번호</label>
              <input type="password" name="joinPassword" id="joinPassword" />
            </li>
            <li class="input-box">
              <label class="label" for="passwordCheck">비밀번호 확인</label>
              <input type="password" name="passwordCheck" id="passwordCheck" />
            </li>
          </ul>
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit">가입하기</button>
      </div>
    </div>
    <script src="modal.js"></script>
  </body>
</html>
