 /**************** reset ******************/
 @import url('/css/reset.css');


/**************** common ******************/
@import url('/css/common.css');


 /**************** font ******************/
 @import url('/css/font.css');

 

 /**************** product-add ******************/
 .admin-info{
  display: flex;
 }

 .admin-info .nav {
  width:25%;
  padding-left:70px;
 }

 .admin-info .contents {
  width:70%;
 }

 .admin-info .nav h3{
  font-size:20px;
  font-weight:800;
  padding-bottom:15px;
 }
 .admin-info .nav ul{
  width:90px;
  padding-top:10px;
  font-size:18px;
  line-height: 32px;
 }

 .contents {
  padding-right:50px;
 }

 .contents .admin-list .title-btn .admin-list {
  cursor: pointer;
  background: #d9d9d9;
  border:none;
  padding:8px 13px;
  border-radius: 5px;
  font-weight:800;
 }

 .contents .product-add-tbl {
  padding: 20px 0;
 }

 .contents .product-add-tbl table{
  width:100%;
  border-top:1px solid #dcdcdc;
 }

 .contents .product-add-tbl tr {
  border-bottom: 1px solid #dcdcdc;
 }

 .contents .product-add-tbl tr th:nth-child(1){
  background-color: #f3f3f3;
  padding:20px 13px;
  width:110px;
  text-align: left;
  font-size:13px;
 }

 .contents .product-add-tbl tr td input {
  margin:0 10px;
  border:1px solid #d1d1d1;
  padding: 10px 5px;
  border-radius: 5px;
 }

 .contents .product-add-tbl tr td input.input-name{
  width:100%;
 }

 .contents .product-add-tbl tr td select {
  border: 1px solid #d1d1d1;
  margin:0 10px;
  padding:12px;
  font-size:13px;
  width:180px;
  border-radius: 5px;
 }

 .contents .admin-list .admin-tbl table tbody tr{
  height:70px;
 }