<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자페이지|상품 등록</title>
  <!-- css -->
  <link rel="stylesheet" href="./admin-products-edit.css">

  <!-- js -->
  <script defer src="/template/header.js"></script>
  <script defer src="/template/scroll-top-btn.js"></script>
  <script defer src="/template/footer.js"></script>
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="./admin-products-edit.js"></script>
</head>

<body>
  <div class="wrap">
    <div class="page-title">
      <h2>관리자 페이지</h2>
    </div>
    <div class="admin-info">
      <div class="nav">
        <h3>쇼핑몰 관리</h3>
        <ul>
          <li><a href="/admin/orders">주문관리</a></li>
          <li class="on"><a href="/admin/products">상품관리</a></li>
        </ul>
      </div>
      <div class="contents">
        <div class="admin-list">
          <div class="admin-title">
            <h5><i class="fa-solid fa-box" style="color: #000000;"></i>상품등록/수정</h5>
            <div class="title-btn">
            </div>
          </div>
          <div class="product-add-form">
            <form id="form" class="admin-form">
              <ul>
                <li><label for="fileInput">상품 이미지</label></li>
                <li><input type="text" id="fileInput" name="imageUrl"></li>
                <li><label for="titleInput">상품명</label></li>
                <li><input type="text" id="titleInput" name="title"></li>
                <li><label for="descriptionInput">설명</label></li>
                <li><input type="text" id="descriptionInput" name="description"></li>
                <li><label for="priceInput">판매가</label></li>
                <li><input type="number" id="priceInput" name="price" class="numberInput">원</li>
                <li><label for="categoryInput">분류</label></li>
                <li><input type="text" id="categoryInput" name="category"></li>
                <li><label for="authorInput">저자</label></li>
                <li><input type="text" id="authorInput" name="author"></li>
                <li><label for="pageInput">페이지</label></li>
                <li><input type="number" id="pageInput" name="pages" class="numberInput">쪽</li>
              </ul>
              <div class="admin-btn">
                <button type="submit" class="admin-submit">등록하기</button>
                <button class="admin-list"><a href="/admin/products">목록</a></button>
              </div>
            </form>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>