
/**************** main ******************/

/* main01 */
.main01 {
  width: 100%;
  height: 235px;
  z-index: 9;
}

.main01 .main-swiper {
  width: 100%;
  height: 100%;
}

.main01 .main-swiper .swiper-slide.slide01 {
  background: url('/img/bnr.jpg') no-repeat center/cover;
}

.main01 .main-swiper .swiper-slide.slide02 {
  background-color: rgb(189, 218, 255);
}

.main01 .main-swiper .swiper-slide.slide03 {
  background-color: rgb(255, 189, 189);
}

.main01 .main-swiper .swiper-slide.slide04 {
  background-color: rgb(255, 255, 187);
}

/* main-container */
.main-container {
  width: 1200px;
  margin: 0 auto;
}

/* main-allproduct */
.main-container .product.no-border h3{
  border-top:none;
  padding-top:0px;
}
.main-container .product h3 {
  /* margin-top: 120px; */
  /* padding-top: 80px; */
  font-size: 30px;
  font-weight: 800;
  line-height: 42px;
  text-align: center;
  /* border-top: 1px solid #DDD; */
}

.b-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.b-list .list-box {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 60px 0 0 24px;
}

.b-list .list-box:hover .name {
  color:#7156ed;
  transition: .2s;
}

.b-list .list-box:hover .price {
  color:#7156ed;
  transition: .2s;
}

.b-list .list-box .img-wrap {
  width: 240px;
  height: 330px;
}

.b-list .list-box .img-wrap img {
  width: 100%;
  height: 100%;
}

.b-list .list-box .info {
  position: relative;
  margin-top: 20px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
}

.b-list .list-box .cate {
  font-size: 13px;
    margin: 0 auto;
    color: #6236FF;
    border-bottom: 1px solid #6236ff;
    line-height: 15px;
    margin-bottom: 8px;
    font-weight:700;
}

.b-list .list-box .cate.new{
  color:#20911c;
  border-bottom: 1px solid #20911c;
}

.b-list .list-box .name {
  line-height: 24px;
  font-weight: 500;
  word-break: keep-all;
  text-align: center;
  width:250px;
  height:48px;
}

.b-list .list-box .price {
  margin-top: 10px;
  font-weight: 500;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: center;
}
