<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다독다독</title>
  <!-- css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./home.css">

  <!-- js -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>

  <script defer src="/template/header.js"></script>
  <script defer src="/template/scroll-top-btn.js"></script>
  <script defer src="/template/footer.js"></script>
  <script defer src="./home.js"></script>

</head>

<body>
  <!-- 메인슬라이드 -->
  <div class="main01">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide01"></div>
        <div class="swiper-slide slide02"></div>
        <div class="swiper-slide slide03"></div>
        <div class="swiper-slide slide04"></div>
      </div>
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="wrap"> 
    <div class="main-container">
      <!-- 전체 상품 -->
      <div class="main04 product">
        <h3>전체 상품</h3>
        <div class="b-list" id="bookList">
          
        </div>
      </div>
    </div>
  </div>
</body>
