 /**************** reset ******************/
 @import url('/css/reset.css');


/**************** common ******************/
@import url('/css/common.css');


 /**************** font ******************/
 @import url('/css/font.css');

/**************** main ******************/

/* main01 */
.main01 {
  width: 100%;
  height: 810px;
  z-index: 9;
}

.main01 .main-swiper {
  width: 100%;
  height: 100%;
}

.main01 .main-swiper .swiper-slide.slide01 {
  background-color: rgb(145, 255, 160);
}

.main01 .main-swiper .swiper-slide.slide02 {
  background-color: rgb(182, 169, 255);
}

.main01 .main-swiper .swiper-slide.slide03 {
  background-color: rgb(255, 189, 189);
}

.main01 .main-swiper .swiper-slide.slide04 {
  background-color: rgb(255, 255, 187);
}

/* main-container */
.main-container {
  width: 1200px;
  margin: 0 auto;
}

/* main-allproduct */
.main-container .product.no-border h3{
  border-top:none;
  padding-top:0px;
}
.main-container .product h3 {
  /* margin-top: 120px; */
  /* padding-top: 80px; */
  font-size: 30px;
  font-weight: 800;
  line-height: 42px;
  text-align: center;
  /* border-top: 1px solid #DDD; */
}




 