<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다독다독</title>
  <!-- css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./home.css">

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="home.js"></script>
</head>
<body>
  <header>
    <!-- 로고 -->
    <div class="header-in">
      <a href="#">
        <img src="../../public/img/logo.png" alt="logo">
      </a>
    </div>
    <!-- 메뉴 -->
    <ul class="header-menu">
      <li><a href="">전체</a></li>
      <li><a href="">수험서</a></li>
      <li><a href="">알고리즘</a></li>
      <li><a href="">Ai</a></li>
      <li><a href="">웹/모바일</a></li>
      <li><a href="">자기계발</a></li>
      <li><a href="">대학서적</a></li>
    </ul>
    <!-- 로그인/회원가입/장바구니 -->
    <div class="header-btn">
      <ul>
        <li><i class="fas fa-magnifying-glass fa-lg"></i></li>
        <li><a href=""><i class="fas fa-cart-shopping fa-lg"></i></a></li>
        <li><a href="">로그인</a></li>
        <li><a href="">회원가입</a></li>
      </ul>
    </div>
  </header>
   <!-- 메인슬라이드 -->
   <div class="main01">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide01"></div>
        <div class="swiper-slide slide02"></div>
        <div class="swiper-slide slide03"></div>
        <div class="swiper-slide slide04"></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
    <script>
     
    </script>
  </div>
  <div class="wrap"> 
    <div class="main-container">
      <!-- 전체 상품 -->
      <div class="main-banner">
        <a href="">
          <img src="./img/main_banner.jpg" alt="">
        </a>
      </div>
      <div class="main-allproduct product no-border">
        <h3>이 책 어때요?</h3>
        <div class="b-list">
          <div class="swiper list-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="list-box">
                  <a><img src="./img/perfect_js.jpg" alt=""></a>
                  <div class="info">
                    <p class="name">자바스크립트 완벽 가이드</p>
                    <p class="price">42,000원</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="list-box">
                  <a><img src="./img/perfect_js.jpg" alt=""></a>
                  <div class="info">
                    <p class="name">자바스크립트 완벽 가이드</p>
                    <p class="price">42,000원</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="list-box">
                  <a><img src="./img/perfect_js.jpg" alt=""></a>
                  <div class="info">
                    <p class="name">자바스크립트 완벽 가이드</p>
                    <p class="price">42,000원</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="list-box">
                  <a><img src="./img/perfect_js.jpg" alt=""></a>
                  <div class="info">
                    <p class="name">자바스크립트 완벽 가이드</p>
                    <p class="price">42,000원</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="list-box">
                  <a><img src="./img/perfect_js.jpg" alt=""></a>
                  <div class="info">
                    <p class="name">자바스크립트 완벽 가이드</p>
                    <p class="price">42,000원</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="list-box">
                  <a><img src="./img/perfect_js.jpg" alt=""></a>
                  <div class="info">
                    <p class="name">자바스크립트 완벽 가이드</p>
                    <p class="price">42,000원</p>
                  </div>
                </div>
              </div>     
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
      <!-- BEST 상품 -->
      <div class="main-bestproduct product">
        <h3>요즘 잘나가요</h3>
        <div class="b-list">
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
        </div>
        <div class="b-list">
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate">BEST</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 신상품 -->
      <div class="main04 product">
        <h3>새로 나왔어요</h3>
        <div class="b-list">
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate new">NEW</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate new">NEW</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate new">NEW</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
        </div>
        <div class="b-list">
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate new">NEW</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate new">NEW</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
          <div class="list-box">
            <a><img src="./img/deep_dive.jpg" alt=""></a>
            <div class="info">
              <p class="cate new">NEW</p>
              <p class="name">모던 자바스크립트 Deep Dive</p>
              <p class="price">42,000원</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="top-btn"></button>
  </div>
  <footer>
    <div class="footer-in">
      <a href="#">
        <img src="../../public/img/logo.png" alt="logo">
      </a>
      <ul>
        <li class="footer-address"><span>주소</span>서울특별시 강남구 선릉로 433 (역삼동, 세방빌딩) 6층,16층 </li>
        <li class="footer-tel"><span>Tel</span>010-0000-0000</li>
        <li class="footer-mail"><span>E-mail</span>elice@gmail.com</li>
        <li class="footer-reserved">© 2023 Gwanggaeto. All rights reserved</li>
      </ul>
    </div>

  </footer>
</body>

</html>