<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>다독다독</title>
  <!-- css -->
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/font.css" />
  <link rel="stylesheet" href="cart.css">
  
  <!-- js -->
  <script defer src="https://kit.fontawesome.com/9daa42bcef.js" crossorigin="anonymous"></script>
  <script defer src="/template/header.js"></script>
  <script defer src="/template/scroll-top-btn.js"></script>
  <script defer src="/template/footer.js"></script>
  <script src="cart.js" defer></script>
</head>
<body>
  <div class="wrap">
    <section class="cart">
      <h3 class="page-title">장바구니</h3>
      <div class="cart-content">
        <div class="cart-wraper">
          <div class="cart-header">
            <div class="all-box-container">
              <input type="checkbox" id="allCheck" class="input-all-check" checked>
              <label for="allCheck">전체선택(3/3)</label>
            </div>
            <button class="btn-select-delete">선택삭제</button>
          </div>
          <ul class="cart-list">
          </ul>
        </div>
        <div class="payment-area">
          <div class="payment-inner">
            <div class="payment-result">
              <dl class="amount">
                <div class="amount-row">
                  <dt>총 상품금액</dt>
                  <dd class="total-price">0원</dd>
                </div>
                <div class="amount-row">
                  <dt>배송비</dt>
                  <dd class="delivery">+0원</dd>
                </div>
              </dl>
              <dl class="total">
                <dt>결제예상금액</dt>
                <dd class="total-pre">0원</dd>
              </dl>
            </div>
            <button class="btn-order">주문하기</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
